<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head th:insert="partials/head"></head>
<body>
<header th:insert="partials/header"></header>
<nav th:insert="partials/nav"></nav>
<main class="content">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a th:href="@{/customer}">Customer</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Create</li>
    </ol>
    <div class="row">
        <div class="col-auto flex-grow-1">
            <h3>Create new customer</h3>
        </div>
        <div class="col-auto">
            <a class="btn btn-primary" th:href="@{/customer}">Back</a>
        </div>
    </div>
    <form class="mt-4" action="#" th:action="@{/customer/create}" th:object="${form}" method="post" th:if="${!restaurantTableList.isEmpty()}">
        <div class="form-floating">
            <input class="form-control" placeholder="Customer name" type="text" th:field="*{name}" id="name" th:errorclass="is-invalid" />
            <label for="name" class="text-muted">Customer name</label>
            <p class="text-danger fs-6 m-0 fst-italic" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
        </div>
        <div class="form-floating mt-2">
            <select class="form-select" id="menu-id" th:errorclass="is-invalid" th:field="*{menuId}">
                <option th:each="menu: ${menuList}" th:value="${menu.id}" th:text="${menu.name}"></option>
            </select>
            <label for="menu-id" class="text-muted">Menu</label>
            <p class="text-danger fs-6 m-0 fst-italic" th:if="${#fields.hasErrors('menuId')}" th:errors="*{menuId}"></p>
        </div>
        <div class="mt-2">
            <label class="form-label" for="restaurant-table-id">Assigned tables</label>
            <select class="form-select" id="restaurant-table-id" th:errorclass="is-invalid" th:field="*{restaurantTableIdList}" multiple>
                <option th:each="restaurantTable: ${restaurantTableList}" th:value="${restaurantTable.id}"
                    th:text="${restaurantTable.id + ( restaurantTable.joinable ? ' (' + restaurantTable.availableSeats + ' seats, joinable)' : ' (' + restaurantTable.availableSeats + ' seats)' )}"
                ></option>
            </select>
            <p class="text-danger fs-6 m-0 fst-italic" th:if="${#fields.hasErrors('restaurantTableIdList')}" th:errors="*{restaurantTableIdList}"></p>
        </div>
        <div class="row w-100 p-0 m-0 mt-4">
            <div class="col-6 p-0 text-start">
                <a class="btn btn-danger" th:href="@{/customer}">Cancel</a>
            </div>
            <div class="col-6 p-0 text-end">
                <input type="submit" class="btn btn-primary" value="Create" />
            </div>
        </div>
    </form>
    <div class="mt-4 text-center" th:if="${restaurantTableList.isEmpty()}">
        <p class="text-muted fs-6 fst-italic">No available table at the moment, every table is assigned to a customer.</p>
    </div>
</main>
</body>
</html>