<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head th:insert="partials/head"></head>
<body>
<main class="d-flex h-100 flex-column">
    <header class="bg-primary w-100">
        <nav class="text-end header-navbar-container centered-content p-2">
            <a class="btn btn-light" th:href="@{/login}" title="Login to admin panel">Login</a>
        </nav>
    </header>
    <div class="w-100 pt-4 text-center m-auto flex-grow-1 centered-content p-2">
        <img class="w-100 mb-4 logo" th:src="@{/resources/logo.png}" alt="Yummy" />
        <h3 class="mb-4 fs-4 text-secondary">This table has not been assigned to any customer yet</h3>
    </div>
    <footer th:insert="partials/footer"></footer>
</main>
</body>
</html>
