<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head th:insert="partials/head"></head>
<body>
<header th:insert="partials/header"></header>
<nav th:insert="partials/nav"></nav>
<main class="content">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a th:href="@{/customer}">Customer</a>
        </li>
        <li class="breadcrumb-item" th:text="${customer.name}"></li>
        <li class="breadcrumb-item active" aria-current="page">Orders</li>
    </ol>
    <div class="row">
        <div class="col-12 mt-2 mb-2" th:if="${hasFlashMessages}" th:insert="partials/flash_messages"></div>
        <div class="col-auto flex-grow-1">
            <h3>Order list</h3>
        </div>
        <div class="col-auto">
            <a class="btn btn-primary" th:href="@{|/customer/${customer.id}/order/create|}">
                <i class="bi bi-plus-circle-fill"></i>
            </a>
        </div>
    </div>
    <div class="mb-4">
        <form action="#" method="get" class="row" autocomplete="off">
            <div class="col-auto flex-grow-1">
                <div class="form-group">
                    <input type="checkbox" id="without-received" autocomplete="off" th:checked="${!includeReceived}" name="withoutReceived" />
                    <label for="without-received" class="form-label m-0">Exclude received orders.</label>
                </div>
                <div class="form-group">
                    <input type="checkbox" id="without-ready" autocomplete="off" th:checked="${!includeReady}" name="withoutReady" />
                    <label for="without-ready" class="form-label m-0">Exclude ready orders.</label>
                </div>
            </div>
            <div class="col-auto text-right">
                <input type="submit" class="btn btn-primary btn-sm" value="Apply filters" />
            </div>
        </form>
    </div>
    <div th:if="${orderList.isEmpty()}">
        <ul class="list-group mt-4">
            <li class="list-group-item">
                <p class="text-center text-muted fst-italic fs-6">No order found</p>
            </li>
        </ul>
    </div>
    <div class="mt-4" th:if="${!orderList.isEmpty()}">
        <ul class="list-group">
            <li class="list-group-item" th:attr="data-order-id=${order.id}, data-order-name=${order.menuItem == null ? '[DELETED MENU ITEM]' : order.menuItem.name}" th:each="order: ${orderList}">
                <div class="row w-100 m-0 p-0 flex-nowrap">
                    <div class="col-auto flex-grow-1 flex-shrink-1 ps-0">
                        <p th:class="${'p-0 m-0 fs-4 ' + ( order.ready && order.received ? 'text-decoration-line-through' : '' )}">
                            <span th:text="${order.menuItem == null ? '[DELETED MENU ITEM]' : order.menuItem.name}"></span>
                            <span class="ml-1 text-muted fs-6" th:text="'(x' + ${order.quantity} + ')'"></span>
                        </p>
                    </div>
                    <div class="col-auto p-0 pe-4 me-4 border-end">
                        <p class="p-0 m-0 fs-4 fst-italic" th:text="${order.menuItem == null ? '-' : ( ( order.menuItem.price * order.quantity ) + '$' )}"></p>
                    </div>
                    <div class="col-auto p-0">
                        <a class="btn btn-primary me-2" th:class="${'btn me-2 ' + ( order.ready ? 'btn-success' : 'btn-warning' )}" th:href="@{|/customer/${customer.id}/order/${order.id}/toggle-ready|}" title="Toggle ready status.">
                            <i class="bi bi-check"></i>
                        </a>
                        <a class="btn btn-primary me-2" th:class="${'btn me-2 ' + ( order.received ? 'btn-success' : 'btn-warning' )}" th:href="@{|/customer/${customer.id}/order/${order.id}/toggle-received|}" title="Toggle received status.">
                            <i class="bi bi-send-check"></i>
                        </a>
                        <a class="btn btn-danger" th:href="@{|/customer/${customer.id}/order/${order.id}/delete|}" title="Delete this order." onclick="confirmDelete(event);">
                            <i class="bi bi-trash3-fill"></i>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <ul class="pagination mt-4">
        <li class="page-item" th:if="${pageNumber > 1 && numPages > 1}">
            <a class="page-link" th:href="@{|/customer/${customer.id}/order?page=${pageNumber - 1}|}">Previous</a>
        </li>
        <li th:each="i : ${#numbers.sequence(1, numPages, 1)}" th:class="${'page-item ' + (i == pageNumber ? 'active' : '')}">
            <a class="page-link" th:href="@{|/customer/${customer.id}/order?page=${i}|}" th:text="${i}"></a>
        </li>
        <li class="page-item" th:if="${pageNumber < numPages}">
            <a class="page-link" th:href="@{|/customer/${customer.id}/order?page=${pageNumber + 1}|}">Next</a>
        </li>
    </ul>
    <div th:insert="partials/delete_confirm_modal"></div>
</main>
</body>
<script type="text/javascript">
    function confirmDelete(event){
        event.preventDefault();
        event.stopPropagation();
        const orderName = event.target.closest('li[data-order-name]').getAttribute('data-order-name');
        const text = 'Do you really want to delete order "' + orderName + '"?';
        const url = event.target.closest('a.btn').href;
        const title = 'Confirm order delete';
        openConfirmModal(url, title, text);
    }
</script>
</html>